version: '3.9'

services:
  neo4j:
    build: ./neo4j
    container_name: neo4j_server
    ports:
      - "7474:7474"   # HTTP
      - "7688:7687"   # Bolt
    volumes:
      - neo4j_data:/data
      - neo4j_logs:/logs
    networks:
      - backend  

networks:
  backend:

volumes:  
  neo4j_data:
  neo4j_logs:
  
